<script type="text/javascript">
function postEntry() {
  FB.api('/me/<%= FB_APP_NAMESPACE %>:read' + 
              '?article=<%= request.url %>','post',
              function(response) {
      if (!response || response.error) {
              alert('Error occured');
      } else {
          alert('Entry was successful! Action ID: ' + response.id);
          }
  });
}
</script>

<p id="notice"><%= notice %></p>

<fb:add-to-timeline></fb:add-to-timeline>
<!-- <div class="fb-add-to-timeline" data-show-faces="true" data-mode="button"></div> -->


<h3>
    <font size="30" face="verdana" color="grey">
		  <%= @entry.title %>
    </font> 
</h3> 
<!-- <p>
    <img title="Stuffed Cookies" 
            src="http://example.com/cookie.jpg" 
            width="550"/>
</p>        -->

<p>
  <%= @entry.body %>
</p>
<form>
	<input type="button" value="Read" onclick="postEntry()" />
</form>

<fb:activity actions="<%= FB_APP_NAMESPACE %>:article"></fb:activity>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>

<% content_for :og do %>
	<meta property="fb:app_id"      content="<%= FB_APP_ID %>" /> 
	<meta property="og:type"        content="<%= FB_APP_NAMESPACE %>:article" /> 
	<meta property="og:url"         content="<%= request.url %>" /> 
	<meta property="og:title"       content="<%= @entry.title %>" /> 
	<meta property="og:description" content="<%= @entry.body %>" /> 
	<!-- <meta property="og:image"       content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" /> -->
	<meta property="og:image"       content="http://farm6.staticflickr.com/5294/5534749917_336a14f2d4.jpg" />
<% end %>	

